.nav {
    width: 240px;
    height: 100%;
    border-right: 1px solid rgba(91, 97, 110, 0.2);
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.svg {
    padding: 8px 0px 32px 8px;
}
.navLinks {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.navLink {
    text-decoration: none;
    color: rgb(10, 11, 13);
    font-size: 16px;
    padding: 16px;
    border-radius: 100px;
    font-weight: 600;
    display: flex;
    gap: 16px;
    vertical-align: middle;
    line-height: 24px;
}

.active {
    color: #0052FF;
    background-color: rgb(245, 248, 255);
}

.navLink:hover {
    background-color: rgb(240, 243, 250);
}

@media (max-width: 1459px) {
    .nav {
        width: 87px;
    }
}