.wrapper {
    padding: 24px 48px;
    background-color: rgba(0, 62, 193, 0.03);
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.wrapper::-webkit-scrollbar {
    display: none;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.chartContainer {
    width: 100%;
    border: 1px solid rgba(91, 97, 110, 0.2);
    border-radius: 10px;
}

.chartContainer .header {
    padding: 25px 32px 0px 32px;
}
.chartContainer .header .priceText {
    font-size: 48px;
}

.statsOverviewContainer {
    display: flex;
    gap: 24px;
}
.infoContainer {
    padding: 16px 24px;
    width: 100%;
    border: 1px solid rgba(91, 97, 110, 0.2);
    border-radius: 10px;
}

.infoContainer header {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    padding-bottom: 16px;
}

.statsContainer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
}

.statsContainer > div > h1 {
    font-size: 16px;
    font-weight: 600;
    color: #5b616e;
    padding-bottom: 5px;
}
.barWrapper {
    display: flex;
    align-items: center;
    font-weight: 600;
}

.barContainer {
    height: 17px;
    display: flex;
    gap: 3px;
    margin: 0px 10px;
}

.barContainer div {
    width: 2px;
}

.overviewWrapper {
    margin-bottom: 20px;
}

.overviewWrapper > h1 {
    padding-bottom: 20px;
    font-size: 22px;
}
.overviewWrapper > p {
    font-size: 14px;
    line-height: 1.6;
    color: #5b616e;
}
.resourcesWrapper > h2 {
    color: #5b616e;
    font-size: 20px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}
.resourcesWrapper div {
    display: flex;
    align-items: center;
    gap: 8px;
}
.resourcesWrapper div a {
    color: blue;
    text-decoration: none;
}
.loader {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgWhite {
    background-color: white;
}

@media (max-width: 770px) {
    .wrapper {
        padding: 0;
    }
    .chartContainer {
        border-radius: 0px;
        border-top: none;
    }
    .statsOverviewContainer {
        display: flex;
        flex-direction: column;
    }
    .infoContainer {
        border-radius: 0;
    }
    .statsContainer {
        flex-direction: column;
    }
    .statsContainer > div {
        display: flex;
        justify-content: space-between;
        padding: 16px 0px;
        align-items: center;
    }
    .statsContainer > div > h1 {
        padding-bottom: 0px;
    }

    .barContainer {
        justify-content: end;
    }

    .barWrapper > span {
        inline-size: min-content;
    }
}
