.wrapper {
    padding: 24px 48px;
    background-color: rgba(0, 62, 193, .03);
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.wrapper::-webkit-scrollbar {
    display: none;
}
.container {
    height: 2000px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.chartContainer {
    width: 100%;
    border: 1px solid rgba(91, 97, 110, 0.2);
    border-radius: 10px;
}

.chartContainer .header {
    padding: 25px 32px 0px 32px;
}
.chartContainer .header .priceText {
    font-size: 48px;
}

.statsOverviewContainer {
    display: flex;
    gap: 24px;
}
.infoContainer {
    width: 100%;
    border: 1px solid rgba(91, 97, 110, 0.2);
    border-radius: 10px;
}
.infoContainer {
    width: 100%;
    border: 1px solid rgba(91, 97, 110, 0.2);
    border-radius: 10px;
}

.infoContainer header {
    padding: 16px 24px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.statsContainer {
    display: flex;
}
.loader {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.bgWhite {
    background-color: white;
}

@media (max-width: 770px) {
    .wrapper {
        padding: 0;
    }
    .chartContainer {
        border-radius: 0px;
        border-top: none;
    }
    .statsContainer {
        border-radius: 0px;
    }
    .statsOverviewContainer {
        display: flex;
        flex-direction: column;
    }
}