.wrapper {
    flex-grow: 1;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.wrapper::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
}

/* MAIN Content in the middle.
 *  Show balance, different coins
 */
.main {
    flex-grow: 1;
    max-width: 1069px;
}

.mainContent {
    /* background-color: red; */
    border-right: 1px solid rgba(91, 97, 110, 0.2);
}

.balanceContainer {
    padding: 32px;
    border-bottom: 1px solid rgba(91, 97, 110, 0.2);
}

.myBalanceText {
    font-size: 20px;
    line-height: 28px;
    color: rgb(91, 97, 110);
    font-weight: 500;
}

.balance {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.3;
}
/* .pricesContainer {
    padding: 16px 32px;
} */

.pricesContainer header {
    display: flex;
    justify-content: space-between;
    padding: 16px 32px;
}
.pricesContainer header h1 {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

.pricesContainer .buttons {
    display: flex;
}
.pricesContainer .button {
    text-decoration: none;
    color: rgb(10, 11, 13);
    font-size: 16px;
    padding: 8px 24px;
    border-radius: 100px;
    font-weight: 600;
    display: flex;
    gap: 16px;
    vertical-align: middle;
    line-height: 24px;
    background-color: rgb(247, 247, 247);
    margin: 0px 2px;
}

.pricesContainer .button:hover {
    background-color: rgb(226, 226, 226);
    cursor: pointer;
}
/* 
 * Topmovers widget on the left
 */
.topMovers {
    width: 380px;
    flex-shrink: 1;
    position: relative;
}

.topMoversContent {
    border-bottom: 1px solid rgba(91, 97, 110, 0.2);
    position: fixed;
}

.topMoversList .coin .price {
    display: flex;
    flex-direction: column;
    font-size: 16px;
    align-items: flex-end;
}
.coin {
    display:flex;
    justify-content: space-between;
    padding: 16px 32px;
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.coin:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.coin > div {
    display: flex;
    width: 20%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
}

.coin .coinInfo {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.coin .coinInfo .image {
    height: 32px;
    width: 32px;
    background-position: center;
    background-size: cover;
}

.coin .coinPrice {
    justify-content: center;
}

.topMoversHeader {
    padding: 24px 24px 16px 24px;
    font-size: 20px;
    font-weight: 600;
}
@media (max-width: 1310px) {
    .topMovers {
        display: none;
    }
    .mainContent {
        /* background-color: red; */
        border-right: none;
    }
}

@media (max-width: 770px) {
    .coin {
        padding-right: 10px;
    }
    .coin .coinMarketCap {
        display: none;
    }
    .coin .starButtonContainer {
        display: none;
    }
    .coin > div {
        width: 33%;
    }
    .pricesContainer .button {
        padding: 5px 10px;
    }
}

.loader {
    height: 60px;
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.negative {
    color: rgb(207, 32, 47);
}

.positive {
    color: rgb(9, 133, 81);
}

.starButton {
    display: flex;
    width: 32px;
    height: 32px;  
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    text-align: "center";
}

.bi-star {
    fill: #ffd60a;
}

.bold {
    font-weight: 640;
}

.buttons .activeTab {
    background-color: rgb(226, 226, 226);
}