.wrapper {
    flex-grow: 1;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}
.wrapper::-webkit-scrollbar {
    display: none;
}

.container {
    display: flex;
    justify-content: center;
}

/* MAIN Content in the middle.
 *  Show balance, different coins
 */
.main {
    flex-grow: 1;
    max-width: 1069px;
}

.mainContent {
    height: 2000px;
    background-color: red;
}

/* 
 * Topmovers widget on the left
 */
.topMovers {
    min-width: 380px;
    flex-shrink: 1;
    position: relative;
}

.topMoversContent {
    position: fixed;
}

@media (max-width: 1310px) {
    .topMovers {
        display: none;
    }
}
